<article class='postfeed'>
	<a href='{{url}}'>
		<div class="postfeed__content">
			<header class='postfeed__header p-2'>

				{{#if feature_image}}
				<img loading='lazy' class='image--square--md rounded--md' src='{{img_url feature_image}}' alt='{{title}} {{t "by"}} {{primary_author.name}}' />
				{{else if primary_tag.feature_image}}
				<img loading='lazy' class='image--square--md rounded--md' src='{{primary_tag.feature_image}}' alt='{{title}} {{t "by"}} {{primary_author.name}}' />
				{{else}}
				<img loading='lazy' class='image--square--md rounded--md' src='{{img_url @site.cover_image}}' alt='{{title}} {{t "by"}} {{primary_author.name}}' />
				{{/if}}
			</header>
			<div>
				<h3 class='postfeed__title px-2 py-1'>
					{{title}}
				</h3>
				<div class='postfeed__body p-2'>
					{{excerpt}}
				</div>
			</div>
		</div>
	</a>
</article>