{{!-- Social toolbar --}}
<section id="post__share__container" class="toolbar toolbar--responsive  toolbar--responsive--hidden toolbar--theme">
  <div class="toolbar__left">
    <h5 class="px-2 py-1">{{t "Share this article"}}</h5>
  </div>
  <ul class="toolbar__right">
    <li class="p-1" title="{{t " Share this article on Facebook"}}">
      <button id="socialbar__button__share--facebook" class="toolbar__button btn--flex" aria-label="{{t " Share this article on Facebook"}}">
        <svg width='24px' height='24px'>
          <use class="icon" xlink:href='#facebook'></use>
        </svg>
      </button>
    </li>
    <li class=" p-1" title="{{t " Share this article on Twitter"}}">
      <button id="socialbar__button__share--twitter" class="toolbar__button btn--flex" aria-label="{{t " Share this article on Twitter"}}">
        <svg width='24px' height='24px'>
          <use class="icon" xlink:href='#twitter'></use>
        </svg>
      </button>
    </li>
    <li class="p-1" title="{{t " Share this article on Linkedin"}}">
      <button id="socialbar__button__share--linkedin" class="toolbar__button btn--flex" aria-label="{{t " Share this article on Linkedin"}}">
        <svg width='24px' height='24px'>
          <use class="icon" xlink:href='#linkedin'></use>
        </svg>
      </button>
    </li>
    <li class="p-1" title="{{t " Share this article on Reddit"}}">
      <button id="socialbar__button__share--reddit" class="toolbar__button btn--flex" aria-label="{{t " Share this article on Reddit"}}">
        <svg width='24px' height='24px'>
          <use class="icon" xlink:href='#reddit'></use>
        </svg>
      </button>
    </li>
    <li class="p-1" title="{{t " Share this article"}}">
      <button id="socialbar__button__share--any" class="toolbar__button btn--flex" aria-label="{{t " Share this article"}}">
        {{> "icons/share"}}
      </button>
    </li>
  </ul>
</section>